<div class="content">
    <div class="card mt-3">
        <h3 class="card-header text-center mt-3">Inserir usuário</h3>
    </div>
    <div class="container-input d-flex flex-column mt-5">

        <label class="form-label">Nome:</label>
        <input type="text" [(ngModel)]="usuario.nome" class="form-control mb-3" name="nome">

        <label class="form-label">Email:</label>
        <input type="text" [(ngModel)]="usuario.email" class="form-control mb-3" name="cpf">

        <label class="form-label">Senha:</label>
        <input type="password" [(ngModel)]="usuario.senha" class="form-control mb-3" name="senha">

        <div class="btn">
            <button class="btn btn-primary fs-5 text-white" (click)='createUsuario()'>
                Salvar
            </button>

            <button class="btn btn-secondary fs-5 text-white" routerLink='/usuario'>
                Cancelar
            </button>
        </div>
    </div>
</div>